<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>kYqgqTtob58q5N8e9s1mLBmHe5y7Mf7eFNIeVdYcLXlvXMDK2HqTEx5GmkpunePxRzhKA6GRoBPdxfDvqJJeXZnDd0LJHZM3w9TaeI4LVRJXftd41/Rs5cXBQa/U96b9zFZsKHFF8pZrcgw1JQeghb3kbp321L9LQXqtH6ki3pU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>UQnGOWZCLvF+IyHOeete1IFq29l8JrImiGGrY4N9ar3vVVEUd+03563Av166AJV+Bc2RelryRDTqog5KJBB1HTCQZJLqkKDn9R1YlsjV+4YR0S8nK5S9RKH43vNsHiyfE34wY0CPUJZUQqXpwuEzcc4rMuMJVspDDAvWvar+3F3CDv7kfugLcbr9duBsLuBdmkJbCf/oQuCmLGQePR0fSvt8954EqIQ+wjvXWNN/NcXi53V+Ftl5fVDyBLmEIXxHjYNAqVWDQLzFtOgSmcAzQ6E9G3g4GBSFq0Aj2LRjVmqLVtoBwBgUOKpOEo5wErMBb/b0mjZKNCuFWUbpEyvLEeFlPepRqPsl</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>   
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>